@model Item
@{
    <form action="Add" method="post">
        <div class="form-group">
        <label>Text:</label>

        <input class="form-control" name="text" value=""/>
    
        </div>
        <button type="submit">Save</button>
        <a href="Index">Cancel</a>
    </form>
}


