<form method="post" asp-action="Index">
    <ul>
        @foreach (var item in Model.Items)
        {
            <li>
                <input type="checkbox" name="completedItems" value="@item.Id"
                @(item.IsCompleted ? "checked disabled" : "") />
                @item.Text
            </li>
        }
    </ul>
    <button type="submit" class="btn btn-primary">Mark as Complete</button>
</form>
<a class="btn btn-secondary" href="Home/Add">Add New Task</a>
